.App {
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
}

.App-header {
  margin: 60px 0 20px 0;
}

.App-logo {
  max-width: 280px;
  display: block;
  margin: 0 auto;
}

.card {
  background: transparent;
  border: none;
  margin: 0 auto;
}

footer {
  font-size: 18px;
  font-family: "Darker Grotesque", serif;
  color: white;
  font-weight: 400;
}

footer a {
  color: white !important;
  font-weight: 600;
  font-family: "Darker Grotesque", serif;
  text-decoration: none !important;
  margin: 0px 2px 0px 2px;
}
footer a:hover {
  cursor: pointer;
  color: lightgrey !important;
  border: none !important;
}

@media (max-width: 1000px) {
}

@media (max-width: 525px) {
  footer {
    font-size: 14px;
  }
}
