.first-column {
  border-right: 1px solid grey;
  text-align: right;
  padding: 20px;
  color: gray;
}
.second-column {
  padding: 20px;
}
p.definition {
  width: 90%;
}
.example {
  font-weight: 600;
  font-size: 20px;
  color: gray;
}
.third-column {
  padding: 20px;
  border-left: 1px solid grey;
}

@media (max-width: 1000px) {
  .second-column {
    padding: 20px;
    border: none;
  }
  .third-column {
    padding: 20px;
    border: none;
  }
}

@media (max-width: 525px) {
  p.definition {
    width: 100%;
  }
  .first-column {
    padding: 10px;
  }
  .second-column {
    padding: 10px;
    border: none;
  }
  .example {
    font-weight: 600;
    font-size: 14px;
    color: gray;
  }
}
