.first-column {
  border-right: 1px solid grey;
  text-align: right;
  padding: 20px;
  color: gray;
}
.second-column {
  padding: 20px;
  border-right: 1px solid grey;
}
p.definition {
  width: 90%;
}
.example {
  font-weight: 600;
  font-size: 20px;
  color: gray;
}
